<div class="dashboard">
  <div class="dashboard-video">

  </div>

  <div class="dashboard-remote-control">
  
  </div>
  
  <div class="dashboard-reviews">

     <div>
      <% if @observers %>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <% @observers.each do |observer| %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#contact" role="tab" aria-selected="false" aria-controls="#nav-contact" id= <% "#{observer.id}" %> > <%= observer.id %> </a>
        </li>
        <% end %>
      </ul>
      <% end %>
      <!--
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Hell</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div> -->
    </div>

  </div>

  <div class="dashboard-comments">

  </div>

  <div class="dashboard-thumbnails">

    <% @recordings.each do |record| %>
      <% if record.video.attached? %>
        <div class="video" style="background-image: url('https://res.cloudinary.com/fabdv/video/upload/so_0/<%= record.video.key %>.jpg');" data-recordingid= <%= record.id %>>
          <i class="far fa-play-circle fa-3x"></i>
          <span class="date"> <%= record.video.created_at.strftime("%d/%m/%y") %> </span>
        </div>
      <% else %>
        <div class="video" style="background-image: url('https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2540&q=80');" data-recordingid= <%= record.id %>>
          <i class="far fa-play-circle fa-3x"></i>
          <span class="date"> <%= record.video.created_at.strftime("%d/%m/%y") %> </span>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
