<div class="dashboard">
  <div class="dashboard-video">
    <% if params[:recording_id] && @recording.video.attached? %>
      <%= cl_video_tag("https://res.cloudinary.com/fabdv/video/upload/#{@recording.video.key}.webm", preload: "auto", controls: true, autoplay: false, id: "video-display", class: "cld-video-player") %>
    <% else %>
      <%= cl_video_tag("https://res.cloudinary.com/fabdv/video/upload/i5hxwtkl5w7xrxq2fd3y1veo9z9z.webm", preload: "auto", controls: true, autoplay: false, id: "video-display", class: "cld-video-player") %>
    <% end %>
  </div>

  <div class="dashboard-animated-comments">
  </div>

  <div class="dashboard-reviews">

    <div class="d-flex">

      <div class="observer-list">
        <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <h3>Observers</h3>
          <% if @observers %>
            <% @observers.each_with_index do |observer, index| %>
              <% if index == 0 %>
                <li class="nav-item">
                  <a class="nav-link active" id="<%= "v-pills-#{observer.id}-tab" %>" data-toggle="pill" href="#<%= "v-pills-#{observer.id}" %>" role="tab" aria-controls="<%= "v-pills-#{observer.id}" %>" aria-selected="false" > <%= observer.user.email %> </a>
                </li>
              <% else %>
                <li class="nav-item">
                <a class="nav-link" id="<%= "v-pills-#{observer.id}-tab" %>" data-toggle="pill" href="#<%= "v-pills-#{observer.id}" %>" role="tab" aria-controls="<%= "v-pills-#{observer.id}" %>" aria-selected="false" > <%= observer.user.email %> </a>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="tab-content" id="v-pills-tabContent">
        <h3>Comments</h3>
        <% if @observers %>
            <% @observers.each_with_index do |observer, index| %>
              <% if index == 0 %>
                <div class="tab-pane active" id="<%= "v-pills-#{observer.id}" %>" role="tabpanel" aria-labelledby="<%= "v-pills-#{observer.id}-tab" %>" > <%= observer.final_review %>  </div>
              <% else %>
                <div class="tab-pane fade" id="<%= "v-pills-#{observer.id}" %>" role="tabpanel" aria-labelledby="<%= "v-pills-#{observer.id}-tab" %>" > <%= observer.final_review %>  </div>
              <% end %>
            <% end %>
        <% end %>
      </div>

    </div>

  </div>

  <div class="dashboard-comments">
    <% if @reviews && @recording %>
      <input type="hidden" value="<%= @recording.timestamp %>" id="recording-timestamp">
        <div class="review" style="display: none;">
      <% @reviews.each do |review| %>
          <div class="review-and-time">
          <span class="review-type"><%= review.review_type %></span> <span class="review-timestamp"><%= review.created_at.to_i %></span>
          </div>
      <% end %>
        </div>
    <% end %>
  </div>

  <div class="dashboard-thumbnails">

    <% @recordings.sort_by{ |video| video.created_at }.reverse.each do |record| %>
      <% if record.video.attached? %>
        <div class="video" style="background-image: url('https://res.cloudinary.com/fabdv/video/upload/so_0/<%= record.video.key %>.jpg');" data-recordingid= <%= record.id %> data-url=<%= record.video.key %>>
          <i class="far fa-play-circle fa-3x"></i>
          <span class="date"> <%= record.video.created_at.strftime("%d/%m/%y") %> </span>
        </div>
      <% else %>
        <div class="video" style="background-image: url('https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2540&q=80');" data-recordingid= <%= record.id %>>
          <i class="far fa-play-circle fa-3x"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

