<div class="dashboard">
  <div class="dashboard-video">
    <% if @recordings.all.count < 1 %>
      <%= cl_video_tag("https://res.cloudinary.com/fabdv/video/upload/#{@recordings.first.video.key}.webm", preload: "auto", controls: true, autoplay: true, fallback_content: "Your browser does not support HTML5 video tags", id: "video-display" ) %>
    <% else %>
      <%= cl_video_tag("https://www.youtube.com/watch?v=962eYqe--Yc.mp4", preload: "auto", controls: true, autoplay: true, fallback_content: "Your browser does not support HTML5 video tags", id: "video-display" ) %>
    <% end %>
  </div>

  <div class="dashboard-remote-control">
  </div>

  <div class="dashboard-reviews">

    <div class="d-flex">

      <div class="observer-list">
        <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <% if @observers %>
            <% @observers.each do |observer| %>
              <li class="nav-item">
                <a class="nav-link" id="<%= "v-pills-#{observer.id}-tab" %>" data-toggle="pill" href="#<%= "v-pills-#{observer.id}" %>" role="tab" aria-controls="<%= "v-pills-#{observer.id}" %>" aria-selected="false" > <%= observer.user.email %> </a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="tab-content" id="v-pills-tabContent">
        <% if @observers %>
            <% @observers.each do |observer| %>
              <div class="tab-pane fade" id="<%= "v-pills-#{observer.id}" %>" role="tabpanel" aria-labelledby="<%= "v-pills-#{observer.id}-tab" %>" > <%= observer.final_review %>  </div>
            <% end %>
        <% end %>
      </div>

    </div>

  </div>

  <div class="dashboard-comments">

  </div>

  <div class="dashboard-thumbnails">

    <% @recordings.each do |record| %>
      <% if record.video.attached? %>
        <div class="video" style="background-image: url('https://res.cloudinary.com/fabdv/video/upload/so_0/<%= record.video.key %>.jpg');" data-recordingid= <%= record.id %> data-url=<%= record.video.key %>>
          <i class="far fa-play-circle fa-3x"></i>
          <span class="date"> <%= record.video.created_at.strftime("%d/%m/%y") %> </span>
        </div>
      <% else %>
        <div class="video" style="background-image: url('https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2540&q=80');" data-recordingid= <%= record.id %>>
          <i class="far fa-play-circle fa-3x"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
