<div class="container-fluid">
  <div class="row justify-content">

    <div class="col-8">
      <video
          id="my-player"
          class="video-player"
          controls
          preload="auto"
          poster="//vjs.zencdn.net/v/oceans.png"
          data-setup='{}'>
        <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
        <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>
        <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
          </a>
        </p>
      </video>

      <div class="d-flex">

        <div class="observer-list">
          <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <% if @observers %>
              <% @observers.each do |observer| %>
                <li class="nav-item">
                  <a class="nav-link" id="<%= "v-pills-#{observer.id}-tab" %>" data-toggle="pill" href="#<%= "v-pills-#{observer.id}" %>" role="tab" aria-controls="<%= "v-pills-#{observer.id}" %>" aria-selected="false" > <%= observer.user.email %> </a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="tab-content" id="v-pills-tabContent">
          <% if @observers %>
              <% @observers.each do |observer| %>
                <div class="tab-pane fade" id="<%= "v-pills-#{observer.id}" %>" role="tabpanel" aria-labelledby="<%= "v-pills-#{observer.id}-tab" %>" > <%= observer.final_review %>  </div>
              <% end %>
          <% end %>
        </div>

      </div>


    </div>

    <div class="col-3">
      <div class="thumbnails-containers">
        <% @recordings.each do |recording| %>
          <%= link_to dashboard_path(recording_id: recording.id) do %>
            <div class="test-box card recording-thumbnail" data-recordingid= <%= recording %> >
              <h3 class="card-title">Thumbnail</h3>
              <p><%= recording.created_at.strftime("%d-%m-%Y") %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
