<div class="container new-recording">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-8 col-lg-4 d-flex flex-column align-items-center">
      <h3 class="text-center">ENTER SPEECH PASSWORD</h3>
      <%= @access_key %>
      <div class="recording-choice">

        <%= simple_form_for @observer do |f| %>
          <%= hidden_field_tag(:access_key, @access_key) %>
          <%= f.input :client_key, input_html: {value: ''} %>
          <%= f.submit "Join speech", class: "recording-btn", id: "submitButton" %>
        <% end %>
      </div>

    </div>
  </div>
</div>

