<style>.navbar{display: none}</style>
        <%= simple_form_for([@observer, @review], remote: true) do |f| %>

      <div class="grid-container" id="list-of-review-types" data-sweet=<%= @sweet %>>

          <div class="review-grid-labels">
            <div class="label">
              <i class="fas fa-tachometer-alt"></i>
              <h3>Pace</h3>
            </div>
            <div class="label">
              <i class="fas fa-bullhorn"></i>
              <h3>Tone</h3>
            </div>
            <div class="label">
              <i class="fas fa-eye"></i>
              <h3>Eye contact</h3>
            </div>
            <div class="label">
              <i class="fas fa-sign-language"></i>
              <h3>Body language</h3>
            </div>
            <div class="label">
              <i class="far fa-smile"></i>
              <h3>Smile</h3>
            </div>
          </div>


          <div class="review-grid-negative">

            <div class="relative">
              <%= f.submit "Speak slower", class: "review-btn" %>
              <i class="far fa-thumbs-down"></i>
              <span class="badge-count"></span>
            </div>

            <div class="relative">
              <i class="far fa-thumbs-down"></i>
              <%= f.submit "Speak louder", class: "review-btn" %>
              <span class="badge-count"></span>
            </div>

            <div class="relative">
              <i class="far fa-thumbs-down"></i>
              <%= f.submit "Look at us", class: "review-btn" %>
              <span class="badge-count"></span>
            </div>

            <div class="relative">
              <i class="far fa-thumbs-down"></i>
              <%= f.submit "Stay still", class: "review-btn" %>
              <span class="badge-count"></span>
            </div>

            <div class="relative">
              <i class="far fa-thumbs-down"></i>
              <%= f.submit "Smile", class: "review-btn" %>
              <span class="badge-count"></span>
            </div>

          </div>


          <div class="review-grid-positive">
            <div class="relative">
              <i class="far fa-thumbs-up"></i>
              <%= f.submit "Great pace", class: "review-btn" %>
              <span class="badge-count"></span>
            </div>
            <div class="relative">
              <i class="far fa-thumbs-up"></i>
              <%= f.submit "Great tone", class: "review-btn" %>
              <span class="badge-count"></span>
            </div>
            <div class="relative">
              <i class="far fa-thumbs-up"></i>
              <%= f.submit "Good eye contact", class: "review-btn" %>
              <span class="badge-count"></span>
            </div>
            <div class="relative">
              <i class="far fa-thumbs-up"></i>
              <%= f.submit "Good gesture", class: "review-btn" %>
              <span class="badge-count"></span>
            </div>
            <div class="relative">
              <i class="far fa-thumbs-up"></i>
              <%= f.submit "Nice smile", class: "review-btn" %>
              <span class="badge-count"></span>
            </div>
          </div>

          <div class="d-flex justify-content-center terminate">
            <%= link_to "CONTINUE", final_review_observer_path(@observer), class: "d-flex review-validation-btn justify-content-center align-items-center", id: "final-review-button" %>
          </div>

      </div>
        <% end %>

